<!-- BEGIN PAGE HEADER-->
<h3 class="page-title"> 404 Page
    <small></small>
</h3>

<div data-ng-include="'templates/page-breadcrumb.html'" data-ng-controller="PageBreadcrumbController"> </div>

<!-- END PAGE HEADER-->
<div class="row">
    <div class="col-md-12 page-404">
        <div class="number font-green"> 404 </div>
        <div class="details">
            <h3>Oops! You're lost.</h3>
            <p> We can not find the page you're looking for.
                <br/>
                <a href="index.html"> Return home </a> or try the search bar below. 
            </p>
        </div>
    </div>
</div>